# stgit generated dirs
patches-*

# quilt's files
patches
series

*.orig
*.rej
*~
\#*#

# Local configuration
#.*

# Do track the ltibrc, or not?
!/.ltibrc

# rootfs and temp staging area
/rootfs
/rootfs.tmp

# RPM storage and build area
/rpm

# temp dir
/tmp

# output files
/host_config.log
/initramfs.cpio.gz*
/rootfs.ext2.gz*
/cramfs.big
/cramfs.little
/rootfs.jffs2
/RELEASE_INFO
/RELEASE_COPY_CONTENT
/*.patch
/*.iso
/rootfs_image

# Simics related installed by e500mc packages
/bin/*.sh
/bin/*.pcap
/bin/*.simics
/bin/*.ckpt
